<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/../static/css/style.css" type="text/css" media="all" th:href="@{/css/home.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Airports</title>
</head>

<header>
    <div th:replace="fragments/header :: header"></div>
</header>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/airports">Airports</a>
    <a href="/airlines">Airlines</a>
    <a href="/contact">Contact</a>
    <a href="/login" class="right">Login</a>
</div>

<div class="main">
    <form th:action="@{/airports}">
        <input type="hidden" name="sortField" th:value="${sortField}"/>
        <input type="hidden" name="sortDir" th:value="${sortDir}"/>
        <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required/>
        &nbsp;
        <input type="submit" value="Search"/>
    </form>
</div> &nbsp;
<table class="w3-table-all w3-card-4">
    <thead>
    <div><i>Sorted by [[${sortField}]] in [[${sortDir}]] order</i></div>
    <th>
        <a th:href="@{'/airports/?pageNum=' + ${currentPage} + '&sortField=name&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Name</a>
    </th>
    <th>
        <a th:href="@{'/airports/?pageNum=' + ${currentPage} + '&sortField=country&sortDir=' + ${reverseSortDir}  + ${keyword != null ? '&keyword=' + keyword : ''}}">Country</a>
    </th>
    <th>
        <a th:href="@{'/airports/?pageNum=' + ${currentPage} + '&sortField=city&sortDir=' + ${reverseSortDir}  + ${keyword != null ? '&keyword=' + keyword : ''}}">City</a>
    </th>

    </thead>
    <tbody>
    <tr th:each="a : ${airports}"> <!-- table row -->

        <td>
            <a th:href="@{'/select/?id=' + ${a.id}}" th:text="${a.name}"></a>

        </td> <!-- table data -->
        <td th:text="${a.country}"></td>
        <td th:text="${a.city}"></td>
    </tr>
    </tbody>
</table>
Total Items: [[${totalElements}]]
<a th:if="${currentPage > 1}"
   th:href="@{'/airports/?pageNum=' + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + ${keyword != null ? '&keyword=' + keyword : ''}}">First</a>
<span th:unless="${currentPage > 1}">First</span>
<a th:if="${currentPage > 1}"
   th:href="@{'/airports/?pageNum=' + ${currentPage - 1}  + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + ${keyword != null ? '&keyword=' + keyword : ''}}">Previous</a>
<span th:unless="${currentPage > 1}">Previous</span>
<span th:each="i : ${#numbers.sequence(currentPage, currentPage + 2)}">
    <a th:if="${currentPage != i}"
       th:href="@{'/airports/?pageNum=' + ${i} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a>
    <span th:unless="${currentPage != i}">[[${i}]]</span>
    &nbsp;
</span>
<a th:if="${currentPage < totalPages}"
   th:href="@{'/airports/?pageNum=' + ${currentPage + 1}  + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a>
<span th:unless="${currentPage < totalPages}">Next</span>
<a th:if="${currentPage < totalPages}"
   th:href="@{'/airports/?pageNum=' + ${totalPages}  + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a>
<span th:unless="${currentPage < totalPages}">Last</span>


<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>