<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home.css" type="text/css" media="all" th:href="@{css/home.css}">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" th:href="@{css/style.css}">
</head>
<header>
    <div class="navbar">
        <a href="/contact">Contact</a>
        <a href="/login">Login</a>
        <a href="#home">Safety</a>
        <a href="/airports/1">Airports</a>
        <a href="/">Home</a>

    </div>
</header>
<body>
<div class="under_contruction">
<p1> Page under reconstruction, please be patient!</p1>
</div>
</body>
</html>