<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/../static/css/style.css" type="text/css" media="all" th:href="@{/css/home.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Selected airport</title>

</head>
<header>
    <div th:replace="fragments/header :: header"></div>
</header>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/airports">Airports</a>
    <a href="/airlines">Airlines</a>
    <a href="/contact">Contact</a>
    <a href="/login" class="right">Login</a>
</div>

<div class="row">
    <div class="side">
        <h3> Salut, aeroportul selectat este:</h3>
        <p th:text="${airportName}"></p>
        <h3> Orasul in care este situat:</h3>
        <p th:text="${airportCity}"></p>
        <h3> Aeroportul este din:</h3>
        <p th:text="${airportCountry}"></p>
    </div>

    <div class="main">
        <div class="google_map">
            <h3>Harta</h3>
            <iframe style="width: 500px; height: 300px" th:src="@{'https://maps.google.com/maps?q=' +
  ${airportLatitude} + ',' +
  ${airportLongitude} + '&output=embed'}">
            </iframe>
        </div>
    </div>
</div>
<div>
    <h3>Departures</h3>
</div>
<table class="w3-table-all w3-card-4">
    <thead>
    <th>Departure Airport</th> <!-- heading for each column -->
    <th>Departure Time</th>
    <th>Arrival Airport</th>
    <th>Arrival Time</th>
    <th>Flight No</th>
    <th>Airline</th>
    </thead>
    <tbody>
    <tr th:each="a : ${departureFlights}"> <!-- table row -->
        <td th:text="${a.departureAirport.getName()}"></td>
        <td th:text="${a.departure}"></td><!-- table data -->
        <td th:text="${a.arrivalAirport.getName()}"></td>
        <td th:text="${a.arrival}"></td>
        <td th:text="${a.flightNo}"></td>
        <td th:text="${a.airline.getName()}"></td>
    </tr>
    </tbody>
</table>
<div>
    <h3>Arrivals</h3>
</div>
<table class="w3-table-all w3-card-4">
    <thead>
    <th>Arrival Airport</th>
    <th>Arrival Time</th>
    <th>Departure Airport</th> <!-- heading for each column -->
    <th>Departure Time</th>
    <th>Flight No</th>
    <th>Airline</th>
    </thead>
    <tbody>
    <tr th:each="a : ${arrivalFlights}"> <!-- table row -->
        <td th:text="${a.arrivalAirport.getName()}"></td>
        <td th:text="${a.arrival}"></td>
        <td th:text="${a.departureAirport.getName()}"></td>
        <td th:text="${a.departure}"></td><!-- table data -->
        <td th:text="${a.flightNo}"></td>
        <td th:text="${a.airline.getName()}"></td>
    </tr>
    </tbody>
</table>
</body>

<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</html>
